/* ==UserStyle==
@name           VK Monokai Red Alternate Buttons Scheme
@namespace      qevitta
@version        1.5.8
@description    VK Monokai Red Alternate Buttons Scheme
@author         vk.com/qevitta
@homepageURL    http://github.com/evtn/vk-schemes
@updateURL      https://github.com/evtn/vk-schemes/raw/lord/styles/vk-monokai-red-inverted-buttons-scheme.user.css

@var select ads "Убрать рекламу слева" {"Да*": "none", "Нет": "block"}
@var select combo "Убрать пункт VK Combo из меню" {"Да*": "none", "Нет": "block"}
@var select stories "Показывать истории в новостях" {"Да*": "block", "Нет": "none"}
@var select recent "Показывать недавно посещенные сообщества" {"Да*": "block", "Нет": "none"}
@var range round-avatars "Скругление аватарок" [50, 0, 50, 5, "%"]
@var select counter-bg "Фон счетчиков в левом меню" {"Стандартный*": "var(--counter_secondary_background)", "Прозрачный": "transparent", "Яркий": "var(--accent)", "Текст": "var(--text-primary)", "Фон": "var(--background-content)"}
@var select counter-fg "Текст счетчиков в левом меню" {"Стандартный*": "var(--counter-fg)", "Белый": "white", "Яркий": "var(--accent)", "Текст": "var(--text-primary)", "Фон": "var(--background-content)"}
@var select text-transform "Изменение текста" {"Нет*": "", "ВСЁЁ БОЛЬШИМИ БУКВАМИ": "uppercase", "всё маленькими буквами": "lowercase", "Всё Очень Странно": "capitalize"}
@var select italy "Едем в Италию" {"Да": "italic", "Нет*": ""}
@var select fastchat "Убрать миничаты" {"Да": "none", "Нет*": "block"}

==/UserStyle== */

@-moz-document domain("vk.com") {
  :root body[scheme], :root body {
    --accent: #FF617B;
    --accent_alternate: #FFFFFF;
    --action_sheet_action_foreground: #FFFFFF;
    --action_sheet_separator: #FFFFFF1F;
    --activity_indicator_tint: #656565;
    --attach_picker_tab_active_background: #E1E3E6;
    --attach_picker_tab_active_icon: #222222;
    --attach_picker_tab_active_text: #E1E3E6;
    --attach_picker_tab_inactive_background: #333333;
    --attach_picker_tab_inactive_icon: #E1E3E6;
    --attach_picker_tab_inactive_text: #828282;
    --background_content: #2C292D;
    --background_highlighted: #3D3B40;
    --background_hover: #333136;
    --background_keyboard: #333333;
    --background_light: #333136;
    --background_page: #211F22;
    --background_suggestions: #333333;
    --background_text_highlighted: #71AAEB3D;
    --button-background-color: #2C292D;
    --button-background-color-active: #3D3B40;
    --button-secondary-background-color: #2C292D;
    --button-secondary-background-color-active: #3D3B40;
    --button-secondary-background-color-hover: #3D3B40;
    --button-secondary-text-color: #FF617B;
    --button-text-color: #2C292D;
    --button_bot_shadow: #222222;
    --button_commerce_background: #2C292D;
    --button_commerce_foreground: #A9DC76;
    --button_muted_background: #2C292D;
    --button_muted_foreground: #8F8F8F;
    --button_outline_border: #FDF9F3;
    --button_outline_foreground: #FDF9F3;
    --button_primary_background: #2C292D;
    --button_primary_foreground: #FF617B;
    --button_secondary_background: #2C292D;
    --button_secondary_background_highlighted: #3D3B40;
    --button_secondary_destructive_background: #2C292D;
    --button_secondary_destructive_background_highlighted: #3D3B40;
    --button_secondary_destructive_foreground: #FF6161;
    --button_secondary_destructive_foreground_highlighted: #FF6161;
    --button_secondary_foreground: #FF617B;
    --button_secondary_foreground_highlighted: #FF617B;
    --button_tertiary_background: #2C292D;
    --button_tertiary_background_active: #3D3B40;
    --button_tertiary_background_hover: #2C292D;
    --button_tertiary_foreground: #FDF9F3;
    --cell_button_foreground: #FF617B;
    --content_placeholder_icon: #B2B2B2;
    --content_placeholder_text: #B2B2B2;
    --content_positive_background: #4BB34B26;
    --content_tint_background: #333136;
    --content_tint_foreground: #939393;
    --content_warning_background: #857250;
    --control_background: #555555;
    --control_background_secondary: #828282;
    --control_foreground: #E1E3E6;
    --control_tint: #222222;
    --control_tint_muted: #939393;
    --counter_primary_background: #FF617B;
    --counter_primary_text: #2C292D;
    --counter_prominent_background: #FF3347;
    --counter_prominent_text: #2C292D;
    --counter_secondary_background: #8F8F8F;
    --counter_secondary_text: #2C292D;
    --destructive: #FF6161;
    --dynamic_blue: #73B8FF;
    --dynamic_gray: #A3ADB8;
    --dynamic_green: #A9DC76;
    --dynamic_neon_pink: #F45FFF;
    --dynamic_orange: #FC9867;
    --dynamic_purple: #FF61C7;
    --dynamic_raspberry_pink: #F07178;
    --dynamic_red: #FF617B;
    --dynamic_violet: #DE87F5;
    --dynamic_yellow: #FFD866;
    --feed_recommended_friend_promo_background: #6F7985;
    --field_background: #2C292D;
    --field_border: #FFFFFF1F;
    --field_error_background: #DB3B3B;
    --field_error_border: #FF5C5C;
    --field_text_placeholder: #8F8F8F;
    --field_valid_border: #A9DC76;
    --float_button_background: #555555;
    --float_button_background_highlighted: #211F22;
    --float_button_border: #0000001F;
    --float_button_foreground: #B2B2B2;
    --header_alternate_background: #333333;
    --header_alternate_tab_active_indicator: #E1E3E6;
    --header_alternate_tab_active_text: #E1E3E6;
    --header_alternate_tab_inactive_text: #828282;
    --header_background: #2C292D;
    --header_background_before_blur: #070708;
    --header_background_before_blur_alternate: #070708;
    --header_search_field_background: #211F22;
    --header_search_field_tint: #8F8F8F;
    --header_tab_active_background: #656565;
    --header_tab_active_indicator: #71AAEB;
    --header_tab_active_text: #E1E3E6;
    --header_tab_inactive_text: #828282;
    --header_text: #E1E3E6;
    --header_text_alternate: #E1E3E6;
    --header_text_secondary: #8F8F8F;
    --header_tint: #E1E3E6;
    --header_tint_alternate: #E1E3E6;
    --icon_alpha_placeholder: #E1E3E6;
    --icon_medium: #939393;
    --icon_medium_alpha: #FFFFFF7A;
    --icon_name: #B2B2B2;
    --icon_outline_medium: #8F8F8F;
    --icon_outline_secondary: #8F8F8F;
    --icon_secondary: #8F8F8F;
    --icon_secondary_alpha: #FFFFFF5C;
    --icon_tertiary: #656565;
    --icon_tertiary_alpha: #FFFFFF3D;
    --im_attach_tint: #FF617B;
    --im_bubble_border_alternate: #00000000;
    --im_bubble_border_alternate_highlighted: #00000000;
    --im_bubble_button_background: #FFFFFF29;
    --im_bubble_button_background_highlighted: #FFFFFF3D;
    --im_bubble_button_foreground: #E1E3E6;
    --im_bubble_button_outgoing_background: #FFFFFF33;
    --im_bubble_gift_background: #857250;
    --im_bubble_gift_background_highlighted: #AB9871;
    --im_bubble_gift_text: #FFFFFF;
    --im_bubble_gift_text_secondary: #E3D3AC;
    --im_bubble_incoming: #211F22;
    --im_bubble_incoming_alternate: #2C292D;
    --im_bubble_incoming_alternate_highlighted: #656565;
    --im_bubble_incoming_expiring: #262B4D;
    --im_bubble_incoming_expiring_highlighted: #404980;
    --im_bubble_incoming_highlighted: #656565;
    --im_bubble_outgoing: #555555;
    --im_bubble_outgoing_alternate: #2C292D;
    --im_bubble_outgoing_alternate_highlighted: #8F8F8F;
    --im_bubble_outgoing_expiring: #404980;
    --im_bubble_outgoing_expiring_highlighted: #5965B3;
    --im_bubble_outgoing_highlighted: #656565;
    --im_bubble_wallpaper_button_background: #555555;
    --im_bubble_wallpaper_button_background_highlighted: #8F8F8F;
    --im_bubble_wallpaper_button_foreground: #E1E3E6;
    --im_bubble_wallpaper_incoming: #2C292D;
    --im_bubble_wallpaper_incoming_highlighted: #211F22;
    --im_bubble_wallpaper_outgoing: #555555;
    --im_bubble_wallpaper_outgoing_highlighted: #656565;
    --im_forward_line_tint: #FFFFFF3D;
    --im_reply_separator: #FF617B;
    --im_service_message_text: #8F8F8F;
    --im_text_name: #FF617B;
    --im_toolbar_separator: #B2B2B2;
    --im_toolbar_voice_msg_background: #555555;
    --image_border: #FFFFFF14;
    --input_background: #2C292D;
    --input_border: #333136;
    --landing_background: #222222;
    --landing_field_background: #292929;
    --landing_field_border: #00000000;
    --landing_field_placeholder: #B2B2B2;
    --landing_login_button_background: #E1E3E6;
    --landing_login_button_foreground: #222222;
    --landing_primary_button_background: #E1E3E6;
    --landing_primary_button_foreground: #222222;
    --landing_secondary_button_background: #FFFFFF26;
    --landing_secondary_button_foreground: #FFFFFF;
    --landing_snippet_border: #FFFFFF26;
    --landing_tertiary_button_background: #00000000;
    --landing_tertiary_button_foreground: #FFFFFF;
    --landing_text_primary: #E1E3E6;
    --landing_text_secondary: #828282;
    --landing_text_title: #FFFFFF;
    --like_text_tint: #FF5C5C;
    --link_alternate: #FF617B;
    --loader_background: #211F22;
    --loader_tint: #828282;
    --loader_track_fill: #555555;
    --loader_track_value_fill: #FF617B;
    --media_overlay_button_background: #FFFFFF;
    --media_overlay_button_foreground: #333333;
    --modal_card_background: #2C292D;
    --modal_card_border: #FFFFFF1F;
    --modal_card_header_close: #FFFFFF;
    --music_playback_icon: #FFFFFF;
    --muted: #8F8F8F;
    --overlay_status_background: #222222;
    --overlay_status_foreground: #E1E3E6;
    --overlay_status_icon: #EBEDF0;
    --panel_tab_active_background: #555555;
    --panel_tab_active_text: #E1E3E6;
    --panel_tab_inactive_text: #828282;
    --placeholder_icon_background: #FFFFFF14;
    --placeholder_icon_background_opaque: #292929;
    --placeholder_icon_foreground_primary: #939393;
    --placeholder_icon_foreground_secondary: #656565;
    --placeholder_icon_tint: #FFFFFF;
    --poll_option_background: #FF617B;
    --positive: #A9DC76;
    --primary_overlay_badge: #FFFFFF66;
    --red_nice: #FF617B;
    --search_bar_background: #222222;
    --search_bar_field_background: #211F22;
    --search_bar_field_tint: #8F8F8F;
    --search_bar_segmented_control_tint: #939393;
    --secondary_overlay_badge: #FFFFFF26;
    --segmented_control_bar_background: #222222;
    --segmented_control_tint: #828282;
    --selection_off_icon: #656565;
    --separator_alpha: #3D3B4060;
    --separator_alternate: #3D3B40;
    --separator_common: #3D3B40;
    --skeleton_foreground_from: #292929;
    --skeleton_foreground_to: #333333;
    --skeleton_shimmer_from: #222222;
    --skeleton_shimmer_to: #22222200;
    --snippet_background: #2C292D;
    --snippet_border: #333136;
    --snippet_icon_tertiary: #656565;
    --splashscreen_icon: #333333;
    --statusbar_alternate_legacy_background: #00000000;
    --stories_create_button_background_from: #424242;
    --stories_create_button_background_to: #424242;
    --stories_create_button_foreground: #CCCCCC;
    --stories_create_button_icon_background: #555555;
    --stories_skeleton_loader_background: #555555;
    --switch_ios_off_border: #333333;
    --tabbar_active_icon: #FFFFFF;
    --tabbar_background: #333333;
    --tabbar_inactive_icon: #828282;
    --tabbar_tablet_active_icon: #71AAEB;
    --tabbar_tablet_background: #292929;
    --tabbar_tablet_inactive_icon: #828282;
    --tabbar_tablet_text_primary: #E1E3E6;
    --tabbar_tablet_text_secondary: #828282;
    --text_action_counter: #B2B2B2;
    --text_link: #FF617B;
    --text_link_highlighted_background: #71AAEB;
    --text_muted: #8F8F8F;
    --text_name: #FF617B;
    --text_placeholder: #8F8F8F;
    --text_primary: #FDF9F3;
    --text_secondary: #8F8F8F;
    --text_subhead: #939393;
    --text_tertiary: #656565;
    --toolbar_attach_background_from: #828282;
    --toolbar_attach_background_to: #656565;
    --verified-link-color: #FF617B;
    --vk_connect_button_primary_background: #E1E3E6;
    --vk_connect_button_primary_foreground: #222222;
    --vk_connect_button_secondary_background: #555555;
    --vk_connect_button_secondary_foreground: #E1E3E6;
    --writebar_icon: #8F8F8F;
  }
  #ads_left {
    display: var(--ads) !important;
  }
  #l_combo {
    display: var(--combo);
  }
  /* добавил [dir] после заигрываний ВК с селекторами, не удивляйтесь */
  .nim-peer .nim-peer--photo .im_grid > img,
  [dir] .nim-peer .nim-peer--photo .im_grid > img, 
  .nim-peer .nim-peer--photo > img,
  [dir] .nim-peer .nim-peer--photo > img,
  .post_img,
  [dir] .post_img,
  .post_field_user_image,
  [dir] .post_field_user_image,
  .module_body .people_cell_img,
  [dir] .module_body .people_cell_img,
  .group_row_photo, .group_row_img,
  [dir] .group_row_photo, .group_row_img,
  .top_profile_img,
  [dir] .top_profile_img,
  .page_list_module .thumb,
  [dir] .page_list_module .thumb,
  .wall_module .reply_img,
  [dir] .wall_module .reply_img,
  .ow_ava.ow_ava_comm,
  [dir] .ow_ava.ow_ava_comm,
  .like_tt_image,
  [dir] .like_tt_image,
  .voting_tt_image,
  [dir] .voting_tt_image,
  .friends_photo_img,
  [dir] .friends_photo_img,
  .right_list_img,
  [dir] .right_list_img,
  .top_notify_cont .feedback_img,
  [dir] .top_notify_cont .feedback_img,
  [dir] .nim-peer.nim-peer_small .nim-peer--photo > img, 
  [dir] .nim-peer.nim-peer_small .nim-peer--photo .im_grid > img,
  [dir] .nim-peer .nim-peer--photo-w,
  [dir] .nim-peer.nim-peer_smaller .nim-peer--photo > img,
  [dir] .nim-peer.nim-peer_smaller .nim-peer--photo .im_grid > img,
  [dir] .TopNavBtn__profileImg {
    border-radius: var(--round-avatars);
  }
  .[dir] body.new_header_design #page_header_cont {
    background: var(--header_background_alt);
  }
  .feed_submit_shown .stories_feed_wrap,
  [dir] .feed_submit_shown .stories_feed_wrap {
    display: var(--stories);
  }
  [dir] body.new_header_design .left_count_wrap,
  [dir] .left_count_wrap.left_count_wrap_hovered:hover {
    color: var(--counter-fg);
    background-color: var(--counter-bg);
    text-decoration: none;
  }
  .RecentGroups__main {
    display: var(--recent);
  }
  .fastchat-reforged {
    display: var(--fastchat);
  }
  * {
    text-transform: var(--text-transform);
    font-style: var(--italy)
  }
}